
denue_00_72_2_csv/metadatos/metadatos_denue.txt
denue_00_72_2_csv/diccionario_de_datos/denue_diccionario_de_datos.csv
denue_00_72_2_csv/conjunto_de_datos/denue_inegi_72_2.csv
denue_00_72_2_csv.zip
denue_00_72_1_csv/metadatos/metadatos_denue.txt
denue_00_72_1_csv/diccionario_de_datos/denue_diccionario_de_datos.csv
denue_00_72_1_csv/conjunto_de_datos/denue_inegi_72_1.csv
denue_00_72_1_csv.zip
denue_00_46591-46911_csv/metadatos/metadatos_denue.txt
denue_00_46591-46911_csv/diccionario_de_datos/denue_diccionario_de_datos.csv
denue_00_46591-46911_csv/conjunto_de_datos/denue_inegi_46591-46911_.csv
denue_00_46591-46911_csv.zip
denue_00_46321-46531_csv/metadatos/metadatos_denue.txt
denue_00_46321-46531_csv/diccionario_de_datos/denue_diccionario_de_datos.csv
denue_00_46321-46531_csv/conjunto_de_datos/denue_inegi_46321-46531_.csv
denue_00_46321-46531_csv.zip
denue_00_46112-46311_csv/metadatos/metadatos_denue.txt
denue_00_46112-46311_csv/diccionario_de_datos/denue_diccionario_de_datos.csv
denue_00_46112-46311_csv/conjunto_de_datos/denue_inegi_46112-46311_.csv
denue_00_46112-46311_csv.zip
denue_00_46111_csv/metadatos/metadatos_denue.txt
denue_00_46111_csv/diccionario_de_datos/denue_diccionario_de_datos.csv
denue_00_46111_csv/conjunto_de_datos/denue_inegi_46111_.csv
denue_00_46111_csv.zip
